Part 1/Dockerfile/* 
Part 1/python/*

Part 1/1.10/*
!Part 1/1.10/commands.txt
!Part 1/1.10/Dockerfile

Part 1/1.11/*
!Part 1/1.11/commands.txt
!Part 1/1.11/Dockerfile

Part 1/1.13/*
!Part 1/1.13/commands.txt
!Part 1/1.13/Dockerfile

Part 1/1.14/*
!Part 1/1.14/commands.txt
!Part 1/1.14/Dockerfile